@model IEnumerable<CookingHeaven.Models.Retete>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Adauga o noua reteta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RetetaNume)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RetetaNume)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Editeaza</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Vizualizeaza</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Sterge</a>
            </td>
        </tr>
}
    </tbody>
</table>
